
fastparquet==2025.12.0
fsspec==2026.2.0
gitdb==4.0.12
GitPython==3.1.46
Markdown==3.10.2
markdown-it-py==4.0.0
packaging==25.0
pandas==2.3.3
pillow==12.1.1
plotly==6.6.0
pluggy==1.6.0
prefect==3.6.21
prometheus_client==0.24.1
protobuf==6.33.5
psycopg2-binary==2.9.11
py-key-value-aio==0.4.4
py4j==0.10.9.9
pyarrow==23.0.1
pydocket==0.18.2
Pygments==2.19.2
pyspark==4.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-json-logger==4.0.0
python-slugify==8.0.4
pytz==2026.1.post1
PyYAML==6.0.3
referencing==0.37.0
regex==2026.2.28
requests==2.32.5
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
streamlit==1.55.0
uvicorn==0.41.0
watchdog==6.0.0
websockets==16.0
zipp==3.23.0
